link(rel='stylesheet', href='node_modules/bootstrap/dist/css/bootstrap.css')

script(type='text/javascript', src='node_modules/angular/angular.js')
script(type='text/javascript', src='node_modules/angular-resource/angular-resource.js')
script(type='text/javascript', src='/app/app.js')

//body(ng-app='app')
//	div(ng-controller='testCtrl')
//		div {{test}}


body(ng-app='app')
  .controller
    h1 CodeBabel Dashboard!!!
    div(ng-controller='testCtrl')
      .list-group
        a.list-group-item(href='#')(ng-repeat="author in authors")
          h4.list-group-item-primary {{ author.name }}
          p.list-group-item-success {{ author.role }}